html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

.create-question-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-color: #ffffff;
  width: 1200px;
  margin-top: 150px;
  margin-bottom: 50px;
  scrollbar-width: none; 
  scroll-behavior: smooth;
}

.quiz-content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  overflow: hidden;
  margin-top: 20px;
}

.create-question-form-wrapper {
  flex: 1;
  max-width: 800px;
  background-color: #ffffff;
  padding: 25px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.form-group {
  margin-bottom: 20px;

}

.form-group label {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}

.form-group input, .form-group textarea {
  padding: 12px;
  font-size: 1.1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #f1f1f1;
  transition: all 0.3s ease;
  box-sizing: border-box;
  color: #333;
}

.form-group input:focus, .form-group textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  background-color: #ffffff;
}

button {
  padding: 12px 20px;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-sizing: border-box;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
  opacity: 0.9;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

.added-questions {
  max-width: 600px;
  overflow-y: auto; 
  max-height: 100vh; 
  padding-right: 10px; 
}

.added-question {
  margin-bottom: 30px;
  padding: 20px;
  width: 800px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.added-question h4 {
  font-size: 1.3em;
  margin-bottom: 12px;
  color: #333;
  font-weight: 600;
  text-align: center;
}

.added-questions ul {
  list-style-type: none;
  padding-left: 40;
}

.added-question li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #444;
}

 .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

 
 .checkbox-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: white;
  position: relative;
  transition: background-color 0.2s ease;
}

.checkbox-input:checked + .checkbox-custom {
  background-color: #007bff; 
}

.checkbox-input:checked + .checkbox-custom::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

 .checkbox-label-text {
  font-size: 14px;
  color: #333;  
  cursor: pointer;
  transition: color 0.3s ease;
}



.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center; 
}

.buttons-container {
  display: flex; 
  align-items: center;
  justify-content: flex-end; 
  gap: 10px; 
}

.edit-button,
.delete-button,
.save-edit-button,
.discard-edit-button {
  padding: 12px 20px;
  font-size: 1.1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto; 
  justify-content: left; 
  display: inline-flex; 
  align-items: center; 
}

.edit-button {
  background-color: #007bff; 
  color: white;
}

.edit-button:hover {
  background-color: #3986d9;
}

.delete-button {
  background-color: #e53935; 
  color: white;
}

.delete-button:hover {
  background-color: #eb4949 !important;
}

.save-edit-button{
  background-color: #007bff;
  color: white;
}

.save-edit-button:hover {
  background-color: #3986d9;
}

.discard-edit-button {
  background-color: #007bff;
  color: white;
}

.discard-edit-button::hover {
  background-color: #3986d9;
}



@media (max-width: 768px) {
  .quiz-content-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .create-question-form-wrapper, .added-questions {
    width: 100%;
  }

  h2 {
    font-size: 2em;
  }
}

.question-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd; 
}

.question-item:last-child {
  border-bottom: none; 
}
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}